@media screen and (min-width: 1008px) {
  body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 0px;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #FöretagetsLåga {
    max-width: 300px;
    max-height: 250px;
    min-width: 300px;
    min-height: 250px;
  }
  #BåtBild {
    width: 200px;
    height: 200px;
    margin: 50px;
  }
  header {
    background-image: url(./img/Vatten.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 100%;
    height: 100px;
    width: 900px;
    margin: 60px;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  button {
    padding: 0px;
    border: 0px;
  }
  #Sidknappar {
    width: 300px;
    height: 160px;
    border: 0px;
    padding: 0px;
  }
  #Toprighticons {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 75px;
    border: 5px solid black;
    margin-top: 60px;
  }
  #ProfildBild {
    margin-left: 25px;
    margin-top: 10px;
  }
  #Shopingcart {
    margin-top: 10px;
    margin-left: 10px;
    max-width: 85px;
    max-height: 45px;
  }
  #ShopingcartBild {
    max-width: 85px;
    max-height: 45px;
    min-width: 85px;
    min-height: 45px;
  }
  #Reklam {
    margin-right: 400px;
  }
  #Reklam {
    width: 300px;
    height: 900px;
  }
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  body {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    margin: 0px;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  header {
    background-image: url(./img/Vatten.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 100%;
    min-height: 200px;
    min-width: 568px;
  }
  nav {
    display: flex;
    flex-direction: column;
    max-width: 0px;
    max-height: 0px;
  }
  button {
    padding: 0px;
    border: 0px;
  }
  #Top {
    display: flex;
    flex-direction: row;
    position: -webkit-sticky;
    position: sticky;
    top: 0;    
  }
  #BåtBild {
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-left: 100px;
  }
  #FöretagetsLåga {
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
  }

  #Sidknappar {
    max-width: 0px;
    max-height: 0px;
    border: 0px;
    padding: 0px;
    font-size: 0px;
  }
  #Toprighticons {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 50px;
    border: 5px solid black;
    margin-top: 30px;
    margin-left: -140px;
  }
  #ProfildBild {
    margin-left: 10px;
    margin-top: 5px;
    max-width: 40px;
    max-height: 40px;
  }
  #Shopingcart {
    margin-top: 5px;
    margin-left: 5px;
    max-width: 40px;
    max-height: 40px;
  }
  #ShopingcartBild {
    width: 40px;
    height: 40px;
  }
  #Reklam {
    width: 770px;
    height: 150px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
  }
  #ReklamBild {
    width: 770px;
    max-height: 150px;
  }
}
@media screen and (max-width: 640px) {
  body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 0px;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #BåtBild {
    width: 200px;
    height: 200px;
    margin: 50px;
  }
  header {
    background-image: url(./img/Vatten.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 100%;
    height: 100px;
    width: 900px;
    margin: 60px;
    /* margin-right: 300px; */
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  #Sidknappar {
    width: 300px;
    height: 160px;
    border: 0px;
    padding: 0px;
  }
  #Toprighticons {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 75px;
    border: 5px solid black;
    margin-top: 60px;
    margin-right: -50;
  }
  #ProfildBild {
    margin-left: 25px;
    margin-top: 10px;
  }
  button {
    padding: 0px;
    border: 0px;
  }

  #Reklam {
    margin-right: 400px;
  }
}
