@media screen and (min-width: 1008px) {
  body {
    display: grid;
    grid-template-rows: 1fr;
    margin: 0px;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: xx-large;
  }
  p {
    margin-top: 10px;
  }
  header {
    background-image: url(./img/Vatten.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 100%;
    height: 100px;
    width: 900px;
    margin: 60px;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  button {
    padding: 0px;
    background-color: gray;
    color: black;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  button:hover {
    background-color: lightblue;
    color: white;
  }

  #Top {
    display: flex;
    flex-direction: row;
  }
  #Botten {
    display: flex;
    flex-direction: row;
  }
  #FöretagetsLogga {
    width: 300px;
    height: 250px;
  }
  #BåtBild {
    width: 200px;
    height: 200px;
    margin: 50px;
    margin-bottom: 0px;
  }
  #Sidknappar {
    width: 300px;
    height: 80px;
    border: 0px;
    padding: 0px;
    margin-top: 30px;
  }
  #Toprighticons {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 75px;
    border: 5px solid black;
    margin-top: 60px;
    background-color: white;
  }
  #ProfilBild {
    margin-left: 25px;
    margin-top: 10px;
  }
  #Shopingcart {
    margin-top: 10px;
    margin-left: 10px;
    max-width: 85px;
    max-height: 45px;
  }
  #ShopingcartBild {
    max-width: 85px;
    max-height: 45px;
    min-width: 85px;
    min-height: 45px;
  }
  #Reklam {
    width: 300px;
    height: 600px;
  }
  #ReklamBild {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 641px) and (max-width: 1007px) {
  body {
    display: grid;
    margin: 0px;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    text-align: center;
  }
  header {
    background-image: url(./img/Vatten.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 100%;
    min-height: 200px;
    min-width: 568px;
  }
  nav {
    display: flex;
    flex-direction: column;
    max-width: 0px;
    max-height: 0px;
  }
  button {
    padding: 0px;
    background-color: gray;
    color: black;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  button:hover {
    background-color: lightblue;
    color: white;
  }
  h1{
    margin-right: 180px;
  }
  #Top {
    display: flex;
    flex-direction: row;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  #BåtBild {
    width: 200px;
    height: 200px;
    margin-top: 50px;
  }
  #FöretagetsLogga {
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
  }

  #Sidknappar {
    max-width: 0px;
    max-height: 0px;
    border: 0px;
    padding: 0px;
    font-size: 0px;
  }
  #Toprighticons {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 50px;
    border: 5px solid black;
    margin-top: 30px;
    margin-left: -140px;
    background-color: white;
  }
  #ProfilBild {
    margin-left: 10px;
    margin-top: 5px;
    max-width: 40px;
    max-height: 40px;
  }
  #Shopingcart {
    margin-top: 5px;
    margin-left: 5px;
    max-width: 40px;
    max-height: 40px;
  }
  #ShopingcartBild {
    width: 40px;
    height: 40px;
  }
  #Reklam {
    width: 0px;
    height: 0px;
  }
  #ReklamBild {
    width: 100%;
    max-height: 100%;
  }
}
@media screen and (max-width: 640px) {
  body {
    display: grid;
    grid-column: 1fr;
    margin: 0px;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  header {
    background-image: url(./img/Vatten.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 100%;
    min-height: 100px;
    min-width: 430px;
  }
  nav {
    display: flex;
    flex-direction: column;
    max-width: 0px;
    max-height: 0px;
    opacity: 0%;
  }
  button {
    padding: 0px;
    background-color: gray;
    color: black;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  button:hover {
    background-color: lightblue;
    color: white;
  }
  #Top {
    display: flex;
    flex-direction: row;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  #BåtBild {
    width: 200px;
    height: 200px;
    margin-top: 50px;
  }
  #FöretagetsLogga {
    max-width: 0px;
    max-height: 0px;
    max-width: 0px;
    max-height: 0px;
    border: 0px;
    padding: 0px;
    font-size: 0px;
  }
  #Toprighticons {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 40px;
    border: 5px solid black;
    margin-top: 5px;
    margin-left: -120px;
    background-color: white;
  }
  #ProfilBild {
    margin-left: 20px;
    margin-top: 5px;
    max-width: 30px;
    max-height: 30px;
  }
  #Shopingcart {
    margin-top: 5px;
    margin-left: 10px;
    max-width: 30px;
    max-height: 30px;
  }
  #ShopingcartBild {
    width: 30px;
    height: 30px;
  }
  #Reklam {
    width: 0px;
    height: 0px;
  }
  #ReklamBild {
    width: 100%;
    max-height: 100%;
  }
}

